/* 通用区域 */
.block{ margin:0px;}
.frame, .frame-tab, .temp {margin:0px !important;
padding:0px !important;
border-width:0px;
height:auto;}
.module, .frame-1 {
background-color:transparent !important;
background-image:none !important;
border:0px none !important;
margin:0px !important;
padding:0px !important;
border-width:0px;
height: auto;
}
.frame-1-c {
background-color:transparent !important;
background-image:none !important;
border:0px none !important;
margin:0px !important;
padding:0px !important;
border-width:0px;
height: auto;
}
.move-span{
background-color:transparent !important;
background-image:none !important;
border:0px none !important;
margin:0px !important;
padding:0px !important;
border-width:0px;
}
.move-span .content{
background-color:transparent !important;
background-image:none !important;
border:0px none !important;
margin:0px !important;
padding:0px !important;
border-width:0px;
height:auto;}

body{ background:none repeat scroll 0 0 #f7f7f7;}
#hd .wp{ background:url({STYLEIMGDIR}/topbar.png) no-repeat scroll center top transparent}
.hdc{min-height:90px;z-index:1;}
#hd h2{ padding:8px 0px;}
.slidebar li{ background:none repeat scroll 0 0 #019ADD}
.slidebar li.on{ color:#019ADD}
#um #umnav_menu .pipe{ display:none;}



/* 会员登录 */
.liveproduct{ margin-top:4px; margin-left:12px; float:right;}
.liveproduct li{margin-left:0;border:#fff 1px solid;float:left;}
.liveproduct .on{border:#009ad9 1px solid;box-shadow:2px 2px 4px #ccc;}
.liveproduct .messenger,.liveproduct .hotmail,.liveproduct .ie9,.liveproduct .android,.liveproduct .lux,.liveproduct .games,.liveproduct .macs{display:block;width:80px;height:60px;text-align:center;font-size:12px;}
.liveproduct .messenger:hover,.liveproduct .hotmail:hover,.liveproduct .ie9:hover,.liveproduct .lux:hover,.liveproduct .android:hover,.liveproduct .games:hover,.liveproduct .macs:hover{text-decoration:none;}
.liveproduct li span{position:relative;top:40px;}
.liveproduct ul li a:link{color:#272727; text-decoration:none}
.liveproduct ul li a:visited{color:#272727;text-decoration: none;}
.liveproduct ul li a:hover,a:active,a:focus{color:#c00; text-decoration:underline;}
.liveproduct .messenger{background:url({STYLEIMGDIR}/win.jpg) no-repeat;}
.liveproduct .ie9{background:url({STYLEIMGDIR}/ap.jpg) no-repeat;}
.liveproduct .android{background:url({STYLEIMGDIR}/an.jpg) no-repeat;}

/* 搜索*/
#scbar{ width:450px; float:right; margin:20px 0 0 70px; background:none repeat scroll 0 0 #FFFFFF; border:3px solid #e3e3e3; height:35px; line-height:35px;}
.scbar_txt_td, .scbar_icon_td, .scbar_btn_td{ background:none;}
#scbar_txt, .scbar_narrow #scbar_txt{ width:300px;}
#scbar_type{ color:#A8A8A8; font-size:14px; font-weight:bold;}
.scbar_type_td{ position:relative; width:78px; height:30px; background:url({STYLEIMGDIR}/select.png) no-repeat scroll 4px 4px transparent}
#scbar_btn{ text-indent:-9999px; border:0px; display:block;background:url({STYLEIMGDIR}/search.jpg) no-repeat; width:75px; height:35px; border:none;  text-align:center; font-size:14px; font-weight:bold; color:#fff; padding:0; line-height:28px; }
#scbar_type_menu{ margin-top:0px; }
*html .scbar_type_td{ display:none}
*html #scbar_txt, .scbar_narrow #scbar_txt{ width:375px;}
*html .hdc .p_pop{ margin-top:-200px; margin-left:-180px; z-index:10; padding-top:-50px; display:none;}
/* 导航 */
#diy-tg_menu li a{ color:#333333}

#hd{ background-color:#FFFFFF}
/*#toptb{ border-bottom:1px solid #DCDCDC; background:url({STYLEIMGDIR}/bottom-bg.png) repeat scroll 0 0 #F1F1F1; height:32px; line-height:32px;} */
#toptb{}
#toptb a{ color:#555555; padding:0px 5px; text-decoration:none;}
#toptb a:hover{ color:#0086F8;}
#toptb li{ float:left; list-style:none;}
.xinyun_nav{border-bottom:solid 1px #2e86b6; line-height:48px;height:48px;background-color:#39a7e4;min-width:960px;}
.qq2 {
    background: url({STYLEIMGDIR}/qq-weibo.png) no-repeat scroll 0px 8px transparent;
    color: #333333;
    display: inline-block;
    height: 25px;
    padding-left:18px;
}

#nv{  height:48px;line-height:48px; margin:0 auto; background-image:none; background-repeat:repeat-x; height:48px;background-color:#39a7e4;width:960px;}
#nv li{height:48px; line-height:48px;  background-attachment: scroll;
    background-image: none;
    background-position: right center;
    background-repeat: no-repeat;
    float: left;
    height: 48px;
    list-style-type: none;
    padding-right: 2px;
    width: auto;}
#nv li.a, #nv li.hover a{ margin-left:0px;
background-color:#2D86B6;
background-image:none;
}
#nv li#mn_portal{border-left:0px solid #ccc;}
#nv li a{ color: #FFFFFF;
    display: block;
    font-family: "Hiragino Sans GB","WenQuanYi Micro Hei","微软雅黑",Arial;
    font-size: 15px;
    font-weight: bold;
    height: 48px;
    line-height: 48px;
    overflow: hidden;
    padding-left: 22px;
    padding-right: 22px;
    text-decoration: none;
    width: auto; background:none; }
#nv li a:hover, #nv li.a:hover,  #nv li.hover a:hover{ background: url(menubar-hover.gif) repeat scroll 0 0 #63baea;text-decoration:none; color:#FFFFFF; margin-left:0px; }
#qmenu{ background:none repeat scroll 0 0 #0086f8;line-height: 28px;text-align: center;width: 100px; margin:0px; height:28px; color:#FFFFFF; font-weight:normal; font-size:14px; padding-right:0px;border-radius:3px; margin:12px;}


/* 按钮  */
.pgs #newspecial, .pgs #newspecialtmp { float: left; background: url({STYLEIMGDIR}/pn_post.png) no-repeat 0 0;  width: 100px; height: 35px;}
#post_reply, #post_replytmp { float: left; background: url({STYLEIMGDIR}/pn_reply.png) no-repeat 0 0;  width: 70px; height: 35px;}
#newspecial img, #newspecialtmp img, #post_reply img, #post_replytmp img { opacity: 0; filter: alpha(opacity=0); }
#newspecial:active { background-position: 0 -35px; }

/* 底部  */
#mybottom{background-image: url({STYLEIMGDIR}/bottom-bg.gif);
    margin-top: 30px;
    padding-bottom: 20px;
    padding-top: 15px;
    text-align: center;}
.xinyun_footer{ background-color: #ffffff;}
.footer_bar{ height:25px;background: url({STYLEIMGDIR}/jianshen_footer.gif) no-repeat center 0 #f7f7f7;}
#ft{ border:0px; padding:20px 0 50px; text-align:center;}
#ft a{ color:#333333}


/* ########################################## */
body{margin:0px;padding:0px}
ul,li{list-style-type:none;margin:0px;padding:0px}
img{border:none}
a{text-decoration:none;cursor:pointer}
p{margin:0 0}
.clear{clear:both}
body{width:100%;margin:0 auto;padding:0px;height:100%;background:url({STYLEIMGDIR}/bg.jpg);}

div.header{border-top:1px solid #de4a2d;}
div.header div.header_top{width:960px;height:102px;margin:0 auto;}
div.header_top img{float:left;margin-top:10px;}
div.header_top div.top_rightbg{width:425px;height:102px;background:url({STYLEIMGDIR}/topbg.png) no-repeat right;float:right;}
div.top_rightbg div.top_denglu{float:right;}
div.top_denglu  span.l_denglu{display:block;float:left;width:25px;height:21px;background:url({STYLEIMGDIR}/login_top_l.png) no-repeat;}
div.top_denglu div.m_denglu{float:left;height:21px;background-color:#de4a2d;text-align:center;}

div.top_denglu span.r_denglu{display:block;float:left;width:25px;height:21px;background:url({STYLEIMGDIR}/login_top_r.png) no-repeat;}
div.top_denglu div.m_denglu a{font:12px "宋体";color:#fff;}
div.top_denglu div.m_denglu a.qq2{background:url({STYLEIMGDIR}/qq-weibo.png) no-repeat scroll 0px 0px transparent}
div.navbox{height:43px;width:100%;background:url({STYLEIMGDIR}/nav_bg.jpg);}
div.navbox div.nav{width:960px;margin:0 auto;}
div.navbox div.nav li{float:left;}
div.navbox div.nav a{float:left;font:16px "微软雅黑";display:block;color:#fff;padding:11px 0;text-decoration:none;}
div.navbox div.nav a span{padding:11px 30px;}
div.navbox div.nav a:hover,div.navbox div.nav a.on{background:url({STYLEIMGDIR}/navonbg.jpg);}
div.navbox div.nav a:hover span,div.navbox div.nav a.on span{background:url({STYLEIMGDIR}/banner_onbg.png) center no-repeat;}


div.contentbox{width:960px;margin:0 auto;}
div.nav_sec{background-color:#8b8b8b;width:960px;height:30px;margin:0 auto;}
div.nav_sec ul{width:550px;float:left;}
div.nav_sec li.nav_sec{float:left;display:block;padding:3px 10px 3px 40px;font:14px "微软雅黑";margin-right:30px;}
div.nav_sec li.nav_sec a,div.nav_sec li.nav_sec a:hover{text-decoration:none;}
div.nav_sec li.nav_sec a:hover{font-weight:bold;}
div.nav_sec div.searchbox{float:right;width:299px;height:28px;border:1px solid #de4a2d;}
div.nav_sec div.searchbox input.search_input{float:left;background:url({STYLEIMGDIR}/ico1.jpg) no-repeat #fff 1px;padding:0 0 0 16px;border:none;width:163px;height:24px;color:#a3a3a3;font:12px "宋体";}
div.nav_sec div.searchbox a.search{float:left;display:block;width:61px;height:24px;background-color:#de4a2d;font:14px "微软雅黑";color:#fff;text-align:center;}
div.contentbox div.banner{float:left;width:641px;height:316px;margin-top:15px;position:relative;overflow:hidden;}
div.contentbox div.banner a.lbt{position:absolute;z-index:10;top:128px;left:0px;width:60px;height:60px;background:url({STYLEIMGDIR}/bannerbt_l.png) no-repeat;}
div.contentbox div.banner a.rbt{position:absolute;z-index:10;top:128px;right:0px;width:60px;height:60px;background:url({STYLEIMGDIR}/bannnerbt_r.png) no-repeat;}
div.contentbox div.banner a.lbt:hover{background:url({STYLEIMGDIR}/bannerbt_lon.png) no-repeat;}
div.contentbox div.banner a.rbt:hover{background:url({STYLEIMGDIR}/bannnerbt_ron.png) no-repeat;}

/*test*/
div.contentbox div.banner div.middle_img_box img{width:641px;height:316px;}
div.contentbox div.banner div.middle_img_box{width:3000px;height:316px}
div.contentbox div.banner div.middle_img_box a{display:block;float:left;}
/*test*/

div.contentbox div.banner div.num{position:absolute;bottom:10px;right:10px;width:96px;}
div.contentbox div.banner div.num a{float:left;display:block;background-color:#fafafa;border:1px solid #ececec;font:12px "宋体";padding:4px 8px;color:#de4a2d}
div.contentbox div.banner div.num a:hover,div.contentbox div.banner div.num a.on{background-color:#de4a2d;color:#fff;}
div.contentbox div.denglubox{float:right;width:304px;height:316px;margin-top:15px;background:url({STYLEIMGDIR}/load.png) no-repeat;}
div.contentbox div.denglubox div.denglubox_1{width:304px;height:202px;}
div.contentbox div.denglubox div.denglubox_1 img{padding:20px;display:block;margin:0 auto;}
div.contentbox div.denglubox input.name_input{width:241px;height:33px;background:url({STYLEIMGDIR}/name_input_bg.png) no-repeat;font:12px "微软雅黑";color:#999;line-height:0px;border:0px;padding-left:30px;margin:30px 0 0 32px;outline:none;}
div.contentbox div.denglubox input.password_input{width:241px;height:33px;background:url({STYLEIMGDIR}/password_input_bg.png) no-repeat;font:12px "微软雅黑";color:#999;line-height:0px;border:0px;padding-left:30px;margin:22px 0 0 32px;outline:none;}
div.contentbox div.denglubox button.denglu{display:block;margin:22px auto 0 auto;width:241px;height:32px;background:url({STYLEIMGDIR}/bt1.jpg) no-repeat;}
div.contentbox div.denglubox div.quickico1{text-align:center;margin-top:17px;}
div.contentbox div.denglubox div.quickico1 a.misscode{font:12px "微软雅黑";color:#000;}
div.contentbox div.denglubox div.quickico1 a.zc{font:12px "微软雅黑";color:#cd4626;}
div.contentbox div.denglubox div.quickico2{width:241px;height:70px;margin:12px auto 0 auto;}
div.contentbox div.denglubox div.quickico2 a{float:left;display:block;font:12px "微软雅黑";color:#333;width:80px;height:20px;padding-top:50px;text-align:center;}
div.contentbox div.denglubox span{font:12px "微软雅黑";color:#333;text-align:center;display:block;margin-top:7px;}
div.contentbox ul.content2{margin-top:15px;width:958px;height:250px;border:1px solid #dfdfdf;background:url({STYLEIMGDIR}/titlebg1.jpg) repeat-x #fff;}
div.contentbox ul.content2 li{float:left;margin-left:29px;}
div.contentbox ul.content2 li span{display:block;color:#de4a2d;font:bold 14px "微软雅黑";padding-top:12px;}
div.contentbox ul.content2 li div{border:1px solid #ebebeb;width:280px;height:190px;background-color:#fafafa;margin-top:15px;text-align:center;}
div.contentbox ul.content2 li div img{width:267px;height:auto;margin-top:7px;}
div.contentbox div.left1{margin-top:15px;float:left;width:645px}
div.contentbox div.left1 img.gonggao1{width:645px;height:109px;background-color:red;display:block;}
div.contentbox div.left1 div.zxzx{margin-top:15px;width:619px;height:304px;background:url({STYLEIMGDIR}/bg2.jpg);padding:11px 13px;}
div.contentbox div.left1 div.zxzx span.title{display:block;padding:0px;width:622px;height:30px;background:url({STYLEIMGDIR}/title1.jpg);}
div.contentbox div.left1 div.zxzx div.left1_1{float:left;width:182px;margin-top:10px;}
div.contentbox div.left1 div.zxzx div.left1_1 img{float:left;width:180px;height:210px;background:red;border:1px solid #dfdfdf;border-bottom:none;}
div.contentbox div.left1 div.zxzx div.left1_1 span{float:left;display:block;padding:5px 10px;font:12px "微软雅黑";color:#fff;width:162px;height:36px;background-color:#f18e2c;}    
div.contentbox div.left1 div.zxzx div.right1_1{float:right;margin-top:10px;width:418px;height:257px;background:url({STYLEIMGDIR}/title1_1bg.png) repeat-x;}
div.contentbox div.left1 div.zxzx div.right1_1 p.title1,div.contentbox div.left1 div.zxzx div.right1_1 p.title2{text-align:center;padding-top:10px;}
div.contentbox div.left1 div.zxzx div.right1_1 p.title1 a{font:bold 14px "微软雅黑";color:#de4a2d;}
div.contentbox div.left1 div.zxzx div.right1_1 p.title2 a{font:12px "微软雅黑";color:#535ca8;}
div.contentbox div.left1 div.zxzx div.right1_1 p.title2 a span{width: 120px;height:17px;margin: -4px 5px;white-space: nowrap;overflow: hidden;text-overflow: clip;display: inline-block;}
div.contentbox div.left1 div.zxzx div.right1_1 ul{margin-top:10px;padding:0 10px;}
div.contentbox div.left1 div.zxzx div.right1_1 ul a{font:12px "宋体";color:#3c3c3c;}
div.contentbox div.left1 div.zxzx div.right1_1 ul li{padding-top:20px;}
div.contentbox div.left1 div.zxzx div.right1_1 ul li span.text{float:left;}
div.contentbox div.left1 div.zxzx div.right1_1 ul li span.time{float:right;color:#999;}

div.contentbox div.left1 div.jszs{margin-top:15px;width:619px;height:304px;background:url({STYLEIMGDIR}/bg2.jpg);padding:11px 13px;}
div.contentbox div.left1 div.jszs span.title{display:block;width:622px;height:30px;background:url({STYLEIMGDIR}/title2.jpg) no-repeat;padding:0px;}
div.contentbox div.left1 div.jszs span.title span{float: right;font:12px "宋体";color:#de4a2d;}
div.contentbox div.left1 div.jszs span.title span a{font:12px "宋体";color:#de4a2d;margin-left:10px;}
div.contentbox div.left1 div.jszs div.left1_1{float:left;width:182px;margin-top:10px;}
div.contentbox div.left1 div.jszs div.left1_1 img{float:left;width:180px;height:210px;background:red;border:1px solid #dfdfdf;border-bottom:none;}
div.contentbox div.left1 div.jszs div.left1_1 span{float:left;display:block;padding:5px 10px;font:12px "微软雅黑";color:#fff;width:162px;height:36px;background-color:#de4a2d;}    
div.contentbox div.left1 div.jszs div.right1_1{float:right;margin-top:10px;width:418px;height:257px;background:url({STYLEIMGDIR}/title1_2bg.png) repeat-x;}
div.contentbox div.left1 div.jszs div.right1_1 p.title1,div.contentbox div.left1 div.jszs div.right1_1 p.title2{text-align:center;padding-top:10px;}
div.contentbox div.left1 div.jszs div.right1_1 p.title1 a{font:bold 14px "微软雅黑";color:#de4a2d;}
div.contentbox div.left1 div.jszs div.right1_1 p.title2 a{font:12px "微软雅黑";color:#535ca8;}
div.contentbox div.left1 div.jszs div.right1_1 ul{margin-top:10px;padding:0 10px;}
div.contentbox div.left1 div.jszs div.right1_1 ul a{font:12px "宋体";color:#3c3c3c;}
div.contentbox div.left1 div.jszs div.right1_1 ul li{padding-top:20px;}
div.contentbox div.left1 div.jszs div.right1_1 ul li span.text{float:left;}
div.contentbox div.left1 div.jszs div.right1_1 ul li span.time{float:right;color:#999;}

div.contentbox div.left1 div.mtss{margin-top:15px;width:619px;height:304px;background:url({STYLEIMGDIR}/bg2.jpg);padding:11px 13px;}
div.contentbox div.left1 div.mtss span.title{display:block;width:622px;padding:0px;height:30px;background:url({STYLEIMGDIR}/title3.jpg) no-repeat;}
div.contentbox div.left1 div.mtss span.title span{float: right;font:12px "宋体";color:#de4a2d;}
div.contentbox div.left1 div.mtss span.title span a{font:12px "宋体";color:#de4a2d;margin-left:10px;}
div.contentbox div.left1 div.mtss div.left1_1{float:left;width:182px;margin-top:10px;}
div.contentbox div.left1 div.mtss div.left1_1 img{float:left;width:180px;height:210px;background:red;border:1px solid #dfdfdf;border-bottom:none;}
div.contentbox div.left1 div.mtss div.left1_1 span{float:left;display:block;padding:5px 10px;font:12px "微软雅黑";color:#fff;width:162px;height:36px;background-color:#f18e2c;}    
div.contentbox div.left1 div.mtss div.right1_1{float:right;margin-top:10px;width:418px;height:257px;background:url({STYLEIMGDIR}/title1_1bg.png) repeat-x;}
div.contentbox div.left1 div.mtss div.right1_1 p.title1,div.contentbox div.left1 div.mtss div.right1_1 p.title2{text-align:center;padding-top:10px;}
div.contentbox div.left1 div.mtss div.right1_1 p.title1 a{font:bold 14px "微软雅黑";color:#de4a2d;}
div.contentbox div.left1 div.mtss div.right1_1 p.title2 a{font:12px "微软雅黑";color:#535ca8;}
div.contentbox div.left1 div.mtss div.right1_1 ul{margin-top:10px;padding:0 10px;}
div.contentbox div.left1 div.mtss div.right1_1 ul a{font:12px "宋体";color:#3c3c3c;}
div.contentbox div.left1 div.mtss div.right1_1 ul li{padding-top:20px;}
div.contentbox div.left1 div.mtss div.right1_1 ul li span.text{float:left;}
div.contentbox div.left1 div.mtss div.right1_1 ul li span.time{float:right;color:#999;}

div.contentbox div.left1 div.ydjs{margin-top:15px;width:619px;height:304px;background:url({STYLEIMGDIR}/bg2.jpg);padding:11px 13px;}
div.contentbox div.left1 div.ydjs span.title{display:block;width:622px;padding:0px;height:30px;background:url({STYLEIMGDIR}/title4.jpg) no-repeat;}
div.contentbox div.left1 div.ydjs span.title span{float: right;font:12px "宋体";color:#de4a2d;}
div.contentbox div.left1 div.ydjs span.title span a{font:12px "宋体";color:#de4a2d;margin-left:10px;}
div.contentbox div.left1 div.ydjs div.left1_1{float:left;width:182px;margin-top:10px;}
div.contentbox div.left1 div.ydjs div.left1_1 img{float:left;width:180px;height:210px;background:red;border:1px solid #dfdfdf;border-bottom:none;}
div.contentbox div.left1 div.ydjs div.left1_1 span{float:left;display:block;padding:5px 10px;font:12px "微软雅黑";color:#fff;width:162px;height:36px;background-color:#b4b528;}    
div.contentbox div.left1 div.ydjs div.right1_1{float:right;margin-top:10px;width:418px;height:257px;background:url({STYLEIMGDIR}/title1_3bg.png) repeat-x;}
div.contentbox div.left1 div.ydjs div.right1_1 p.title1,div.contentbox div.left1 div.ydjs div.right1_1 p.title2{text-align:center;padding-top:10px;}
div.contentbox div.left1 div.ydjs div.right1_1 p.title1 a{font:bold 14px "微软雅黑";color:#de4a2d;}
div.contentbox div.left1 div.ydjs div.right1_1 p.title2 a{font:12px "微软雅黑";color:#535ca8;}
div.contentbox div.left1 div.ydjs div.right1_1 ul{margin-top:10px;padding:0 10px;}
div.contentbox div.left1 div.ydjs div.right1_1 ul a{font:12px "宋体";color:#3c3c3c;}
div.contentbox div.left1 div.ydjs div.right1_1 ul li{padding-top:20px;}
div.contentbox div.left1 div.ydjs div.right1_1 ul li span.text{float:left;}
div.contentbox div.left1 div.ydjs div.right1_1 ul li span.time{float:right;color:#999;}

div.contentbox div.left1 div.hwyd{margin-top:15px;width:619px;height:304px;background:url({STYLEIMGDIR}/bg2.jpg);padding:11px 13px;}
div.contentbox div.left1 div.hwyd span.title{display:block;width:622px;padding:0px;height:30px;background:url({STYLEIMGDIR}/title5.jpg) no-repeat;}
div.contentbox div.left1 div.hwyd span.title span{float: right;font:12px "宋体";color:#de4a2d;}
div.contentbox div.left1 div.hwyd span.title span a{font:12px "宋体";color:#de4a2d;margin-left:10px;}
div.contentbox div.left1 div.hwyd div.left1_1{float:left;width:182px;margin-top:10px;}
div.contentbox div.left1 div.hwyd div.left1_1 img{float:left;width:180px;height:210px;background:red;border:1px solid #dfdfdf;border-bottom:none;}
div.contentbox div.left1 div.hwyd div.left1_1 span{float:left;display:block;padding:5px 10px;font:12px "微软雅黑";color:#fff;width:162px;height:36px;background-color:#fdd000;}    
div.contentbox div.left1 div.hwyd div.right1_1{float:right;margin-top:10px;width:418px;height:257px;background:url({STYLEIMGDIR}/title1_4bg.png) repeat-x;}
div.contentbox div.left1 div.hwyd div.right1_1 p.title1,div.contentbox div.left1 div.hwyd div.right1_1 p.title2{text-align:center;padding-top:10px;}
div.contentbox div.left1 div.hwyd div.right1_1 p.title1 a{font:bold 14px "微软雅黑";color:#de4a2d;}
div.contentbox div.left1 div.hwyd div.right1_1 p.title2 a{font:12px "微软雅黑";color:#535ca8;}
div.contentbox div.left1 div.hwyd div.right1_1 ul{margin-top:10px;padding:0 10px;}
div.contentbox div.left1 div.hwyd div.right1_1 ul a{font:12px "宋体";color:#3c3c3c;}
div.contentbox div.left1 div.hwyd div.right1_1 ul li{padding-top:20px;}
div.contentbox div.left1 div.hwyd div.right1_1 ul li span.text{float:left;}
div.contentbox div.left1 div.hwyd div.right1_1 ul li span.time{float:right;color:#999;}

div.contentbox div.right1{margin-top:15px;float:right;width:305px;}
div.contentbox div.right1 div.yybj{height:84px;border:1px solid #dfdfdf;border-top:2px solid red;padding:11px 13px;background-color:#fff;}
div.contentbox div.right1 div.yybj div.title span{float:left;font:bold 14px "微软雅黑";color:#3c3c3c;}
div.contentbox div.right1 div.yybj div.title a{float:right;text-align:right;font:12px "宋体";color:#de4a2d;}
div.contentbox div.right1 div.yybj ul{margin:10px 10px;}
div.contentbox div.right1 div.yybj ul li{float:left;background-color:#fafafa;border:1px solid #dfdfdf;padding:5px;}
div.contentbox div.right1 div.yybj ul li a{font:12px "宋体";color:#de4a2d;}
div.contentbox div.right1 div.yybj ul li a:hover{font-weight:bold;text-decoration:underline;}
div.contentbox div.right1 div.pk{margin-top:10px;;padding-top:45px;width:305px;height:165px;background:url({STYLEIMGDIR}/title6.png) no-repeat center 0px;}
div.contentbox div.right1 div.pk div.pk1,div.contentbox div.right1 div.pk div.pk2{float:left;width:124px;height:158px;background:url({STYLEIMGDIR}/pic1.png) no-repeat;padding:2px;}
div.contentbox div.right1 div.pk div.pk1,div.contentbox div.right1 div.pk div.pk2{position:relative;}
div.contentbox div.right1 div.pk div.pk1 span,div.contentbox div.right1 div.pk div.pk2 span{position:absolute;width:125px;height:22px;top: 121px;left: 1px;display: block;background:#de4a2d;text-align: center;font:14px "宋体";color:#fff;padding-top:8px;}
div.contentbox div.right1 div.pk span.pk{float:left;width:40px;height:41px;background:url({STYLEIMGDIR}/ico4.png) no-repeat center;padding:50px 4px;}
div.contentbox div.right1 div.pk div.pk1 img,div.contentbox div.right1 div.pk div.pk2 img{width:115px;height:145px;margin: 4px auto 0 auto;display: block;}
div.contentbox div.right1 div.rmlt{margin-top:10px;border:1px solid #dfdfdf;border-top:2px solid red;padding:11px 13px;background:url({STYLEIMGDIR}/bbs.jpg) no-repeat 77px 10px #fff;}
div.contentbox div.right1 div.rmlt p.title{font:bold 14px "微软雅黑";color:#3c3c3c;padding:0 0 7px 0;}
div.contentbox div.right1 div.rmlt img{float:left;width:125px;height:85px;margin-right:5px;}
div.contentbox div.right1 div.rmlt div.des{float:left;width:145px;}
div.contentbox div.right1 div.rmlt div.des p{font:12px "宋体";color:#333;line-height:18px;}
div.contentbox div.right1 div.rmlt div.des p.title{font-weight:bold;color:#de4a2d;text-align:center;}
div.contentbox div.right1 div.rmlt ul{padding-bottom: 10px;}
div.contentbox div.right1 div.rmlt ul li{line-height:35px;border-bottom:1px dashed #dfdfdf;}
div.contentbox div.right1 div.rmlt ul li a{font:12px "宋体";color:#333;line-height:35px;}
div.contentbox div.right1 div.rmlt ul li a:hover{color:#de4a2d;}

div.contentbox div.right1 div.rmhd{margin-top:15px;border:1px solid #dfdfdf;border-top:2px solid red;padding:11px 13px;background:url({STYLEIMGDIR}/popularactivity.jpg) no-repeat 77px 10px #fff;}
div.contentbox div.right1 div.rmhd p.title{font:bold 14px "微软雅黑";color:#3c3c3c;padding:0 0 7px 0;}
div.contentbox div.right1 div.rmhd span.title{float:left;font:bold 12px "宋体";color:#de4a2d;margin-bottom:7px;padding:0px;}
div.contentbox div.right1 div.rmhd span.line{float:right;width:210px;height:1px;background-color:#de4a2d;margin-top:6px;margin-bottom:7px;}
div.contentbox div.right1 div.rmhd img{float:left;width:125px;height:85px;margin-right:5px;}
div.contentbox div.right1 div.rmhd div.des{float:left;width:145px;}
div.contentbox div.right1 div.rmhd div.des p{font:12px "宋体";color:#333;line-height:18px;}
div.contentbox div.right1 div.rmhd div.des p.title{font-weight:bold;color:#de4a2d;text-align:center;}
div.contentbox div.right1 div.rmhd div.des p.title a{text-decoration:none;color: #de4a2d;}
div.contentbox div.right1 div.rmhd ul{padding-bottom: 10px;}
div.contentbox div.right1 div.rmhd ul li{line-height:35px;border-bottom:1px dashed #dfdfdf;}
div.contentbox div.right1 div.rmhd ul li a{font:12px "宋体";color:#333;line-height:35px;}
div.contentbox div.right1 div.rmhd ul li a:hover{color:#de4a2d;}
div.contentbox div.qm_fc{margin-top:15px;width:960px;height:285px;background:url({STYLEIMGDIR}/bg3.jpg) no-repeat;}
div.contentbox div.qm_fc div.qm{float:left;background:url({STYLEIMGDIR}/qmjd.jpg) no-repeat 77px 15px ;padding:11px 13px;}
div.contentbox div.qm_fc div.qm p.title{font:bold 14px "微软雅黑";color:#3c3c3c;padding:0 0 20px 0;} 
div.contentbox div.qm_fc div.qm div.left{float:left;width:155px;}
div.contentbox div.qm_fc div.qm div.left img{width:153px;height:100px;border:1px solid #3c3c3c;}
div.contentbox div.qm_fc div.qm div.left a{font:12px "微软雅黑";color:#de4a2d;padding-left:9px;line-height:20px;line-height: 30px;} 
div.contentbox div.qm_fc div.qm ul.right{float:left;margin-left:15px;}
div.contentbox div.qm_fc div.qm ul.right li{width:198px;line-height:35px;border-bottom:1px dashed #dfdfdf;}
div.contentbox div.qm_fc div.qm ul.right li a{font:12px "宋体";color:#333;}
div.contentbox div.qm_fc div.qm ul.right li a:hover{color:#de4a2d;}  
div.contentbox div.qm_fc div.fc{height:263px;float:left;width:540px;background:url({STYLEIMGDIR}/hyfc.jpg) no-repeat 77px 15px ;padding:11px 13px;}
div.contentbox div.qm_fc div.fc div.title{padding:0px;}
div.contentbox div.qm_fc div.fc div.title span{float:left;font:bold 14px "微软雅黑";color:#3c3c3c;}
div.contentbox div.qm_fc div.fc div.title a{float:right;text-align:right;font:12px "宋体";color:#de4a2d;}
div.contentbox div.qm_fc div.fc div.hyfc{width:540px;margin-top:20px;}
div.contentbox div.qm_fc div.fc div.hyfc a.more1_l{float:left;width:14px;height:55px;background:url({STYLEIMGDIR}/lbt.jpg) no-repeat;margin-top: 45px;}
div.contentbox div.qm_fc div.fc div.hyfc a.more1_l:hover{background:url({STYLEIMGDIR}/lbt_on.jpg) no-repeat;}
div.contentbox div.qm_fc div.fc div.hyfc a.more1_r{float:left;width:17px;height:55px;background:url({STYLEIMGDIR}/rbt.jpg) no-repeat;margin-top: 45px;}
div.contentbox div.qm_fc div.fc div.hyfc a.more1_r:hover{background:url({STYLEIMGDIR}/rbt_on.jpg) no-repeat;}
div.contentbox div.qm_fc div.fc div.hyfc div.hyfcbox{float:left;width:509px;height:235px;overflow:hidden;position:relative;}
div.contentbox div.qm_fc div.fc div.hyfc div.hyfcbox ul{width:20000px;position:absolute;}
div.contentbox div.qm_fc div.fc div.hyfc div.hyfcbox ul li{float:left;width:108px;padding:0 10px;}
div.contentbox div.qm_fc div.fc div.hyfc div.hyfcbox ul li img{width:105px;height:140px;border:1px solid #3e3e3e;}
div.contentbox div.qm_fc div.fc div.hyfc div.hyfcbox ul li p{font:12px "宋体";color:#3c3c3c;line-height:18px;}

div.foot{margin:15px auto 0 auto;width:960px;}
div.foot div.pinpai{width:865px;height:64px;background:url({STYLEIMGDIR}/bg4.png) no-repeat;padding-left:95px;}
div.foot div.pinpai img{height:36px;margin:11px 6px;}
div.foot div.youqinglj{margin-top:15px;width:855px;height:71px;background:url({STYLEIMGDIR}/bg5.png) no-repeat;padding:10px 10px 10px 95px;}
div.foot div.youqinglj a{font:12px "宋体";color:#3c3c3c;line-height:18px;padding: 0 8px;line-height:23px;}
div.foot p.footnav{font:12px "宋体";color:#666;text-align:center;margin-top: 20px;}
div.foot p.last{font:12px "宋体";color:#666;text-align:center;margin: 20px 0 20px 0;}



div.top_denglu div.m_denglu li{float:left;padding-right:10px;}
.lianxiqq{background-position:0px 0px;height:18px;}
.scbar_txt_td_my1{height:28px;}
.footer_bar{height:0px;background:none;}
.xinyun_footer{background:none;}    

/*zixun*/
#pt{width:960px;margin:0 auto;}
.ct2 .sc_jianshen{float:left;}
.ct2 .mn_jianshen{float:right;}
.neirong_weizi{width:960px;margin:0 auto;font: 12px "宋体";color:#000;}
.neirong_weizi span.title{font: 12px "宋体";color:#000;}
.neirong_weizi a,.neirong_weizi span{color:#de4a2d;line-height:35px;}
.left_list_zixun,.left_page_zixun{float:left;width:170px;}
.right_list_zixun,.right_page_zixun{float:right;width:728px;border:1px solid #d2d2d2;background-color:#f5f5f5;padding:25px;}
.left_list_zixun a:hover,.left_page_zixun a:hover,.right_list_zixun a:hover,.right_page_zixun a:hover{text-decoration:none;}
.left_list_zixun span.bgname,.left_page_zixun span.bgname{width:170px;height:25px;display:block;text-align:center;padding:8px 0;font:18px "微软雅黑";color:#fff;background:url({STYLEIMGDIR}/bg_title.jpg) no-repeat;}
ul.list_ul_zixun li{border-bottom: 1px ridge #dcdcdc;padding: 10px 0;}
ul.list_ul_zixun li img{float:left;width:180px;height:120px;}
ul.list_ul_zixun div.list_zixun_box{float:right;width:525px;}
div.list_zixun_box p.title{font:14px "微软雅黑";color:#de4a2d;padding:0px;line-height:28px;}
div.list_zixun_box p.lever_1{font:12px "微软雅黑";color:#999;padding-bottom:10px;}
div.list_zixun_box p.lever_1 span{padding-right:5px;}  
div.list_zixun_box p.lever_2{font:12px "微软雅黑";color:#666;line-height:22px;}
div.pgs{width:728px;margin:0 auto;}
.pg{width:728px;text-align:center;padding-top:40px;}
.pg a, .pg strong, .pgb a, .pg label{float:none;padding:5px 9px;border-color:#afafaf;}
.pg strong,.pg a:hover{background-color:#de4a2d;color:#fff;border-color:#de4a2d;}
.pg a.nxt{padding:5px 25px 5px 0;}
.right_page_zixun img{display:block;margin:0 auto;padding:5px;background-color:#fff;max-width:530px;border:1px solid #d2d2d2;margin-bottom:25px;}
.right_page_zixun p.xg1{margin:20px 0;}
.right_page_zixun div.h{padding-bottom:10px;border-bottom:1px solid #dadada;}
.right_page_zixun div.d{margin-top:20px;font:12px "微软雅黑";color:#666666;line-height: 24px;}
.right_page_zixun a:hover{color:#de4a2d;}
.left_list_zixun li.level1_li{width:168px;border:1px solid #eaeaea;background-color: #fff;}
.left_list_zixun li.level1_li span{display: block;height:34px;line-height:32px;padding-left:20px;background-color:#f5f5f5;border-bottom:1px solid #eaeaea;}
.left_list_zixun li.level1_li span a{font:bold 14px "宋体";color:#de4a2d;line-height:34px;width:148px;display:block;background:url({STYLEIMGDIR}/up.jpg) no-repeat 120px 14px;}
.left_list_zixun li.level1_li ul.level2_ul{display:none;}
.left_list_zixun li.level1_li ul.level2_ul li.level2_li{padding:9px 0 9px 30px;background:url({STYLEIMGDIR}/dot2.jpg) no-repeat 20px 16px;}
.left_list_zixun li.level1_li ul.level2_ul li.level2_li a{font:14px "宋体";color:#000;}









