/*
彪哥开发
联系QQ：133660398
请认准彪哥唯一联系方式
更多模板请查看：http://addon.discuz.com/?@915.developer
感谢您的关注和支持，祝您运营愉快！
*/


body, textarea, h4, h5, h6, h1, h2, h3 {
font-family: "微软雅黑e\8f6f\96c5\9ed1",'Microsoft Yahei';
background: #F5F4F2;
}

#site-nav { background-color: #2A2931;position: relative; width:100%; }
#site-nav .site-nav-bd {
position: relative;
line-height: 50px;
font-size: 12px;
height: 50px;
width: 1000px;
margin: 0 auto;
}
.nav_logo { float: left; width: 150px; }
.nav_mem { float: right; width: 800px; height:50px; overflow:hidden }
#heads { background-color: #FFFFFF; height: 59px; width: 100%; border-bottom: 1px solid #E0E0E0; }
.heads_left { float: left; height: 59px; width: 700px; overflow:hidden }
.heads_nr { width: 1000px; margin:0 auto; height:59px; }
.heads_rig { float: right; height: 28px; width: 295px; margin-top: 15px;background-image: url(template/m0398_maijia/images/maijia/sear.png); background-repeat: no-repeat;  }



#scbar { overflow: hidden; height: 28px; line-height: 28px; border-top: 0px solid #FFF; border-bottom: 0px solid #E9EFF5; background: url({IMGDIR}/maijia/sear.png) no-repeat; }
				.scbar_icon_td { width: 21px; background: url({IMGDIR}/) no-repeat 0 -50px; }
				.scbar_txt_td, .scbar_type_td { background: url({IMGDIR}/) repeat-x 0 -93px; }
					#scbar_txt { width: 190px; border: 0px solid #FFF; outline: none; }
					.scbar_narrow #scbar_txt { width: 160px; }
				.scbar_btn_td { width: 44px; background: url({IMGDIR}/) no-repeat 8px -142px; }
					#scbar_btn { margin: 0; padding: 0; border: none; background: transparent none; box-shadow: none;width:40px; }
						#scbar_btn strong { line-height: 28px;  }
				.scbar_type_td { width: 61px; background: url({IMGDIR}/) no-repeat 0 -193px; }
					#scbar_type { display: block; padding-left: 10px; text-align: left; text-decoration: none; }
						#scbar_type_menu { margin-top: -8px; }
				#scbar_hot { padding-left: 8px; height: 28px; overflow: hidden; }
					#scbar_hot strong, #scbar_hot a { float: left; margin-right: 8px; white-space: nowrap; }

			#nvss { overflow: hidden; height: 60px; {MENUBGCODE}; }
				#nvss li { float: left; padding-right: 0px; height: 60px; line-height: 60px; background: url({IMGDIR}/nv_a.png) no-repeat 100% 0; font-weight: 400; font-size: 16px; font-family: "微软雅黑e\8f6f\96c5\9ed1",'Microsoft Yahei'; }
					.ie_all #nvss li { line-height: 63px; }
					.ie6 #nvss li { line-height: 60px; }
					#nvss li a { float: left; padding: 0 15px; height: 60px; text-decoration:none; }
						#nvss li a { color: #000; }
						#nvss li span { display: none; }
					#nvss li.a { margin-left: -1px; {MENUHOVERBGCODE}; }
						#nvss li.a a { color: #fff; font-weight: 700;background: url({IMGDIR}/nv_a.png) no-repeat 50% -60px; }
						#nvss li a:hover { color:#009EDD; background: url({IMGDIR}/) no-repeat 50% -60px; }
						#nvss li.a a:hover { color:#fff; background: url({IMGDIR}/) no-repeat 50% -60px; }
						#nvss li.hover a:hover, #nv li.hover a { background: url({IMGDIR}/) no-repeat 50% -60px; color:#009EDD; }
						
						
#site-nav .nav_mem, #site-nav .nav_mem a {
color: #CCC;
}
#site-nav .nav-login {
padding-right: 0;
background-position: 5px 17px;
}
.nav_mem a:hover {
color: #00CBFF;
}
#site-nav .nav-login, #site-nav .nav-order, #site-nav .nav-collection, #site-nav .nav-article, #site-nav .nav-publish, #site-nav .nav-favorites {
height: 50px;
display: block;
float: right;
text-align: right;
position: relative;
padding: 0 0px 0 30px;
margin-left: 30px;
}
#site-nav .nav-login {
background: url(template/m0398_maijia/images/maijia/T1JsdeFBFXXXcIJd6g-20-400.png) no-repeat;
background-position: 5px 17px;
}
#site-nav .site-nav-item a:hover {
color: #00CBFF;
text-decoration:none
}
#site-nav .nav-login:hover {
background-position: 5px -23px;
}