<!--{template common/header}-->
<style id="diy_style" type="text/css"></style>
<style type="text/css">
   body{ background: url("template/calms_game/style/body_bg.jpg") #f6f5fb; background-position: top center; background-repeat:no-repeat;}
   #um, #um a{ color:#f2f2f2}
   #hd .fastlg, #hd .fastlg a{ color:#ccc;}
   .ftid a{ color:#ccc !important}
   #scrolltop{ display:none}
</style>
<div class="wp"> 
  <!--[diy=diy1]-->
  <div id="diy1" class="area"></div>
  <!--[/diy]--> 
  
  <div id="bd">
    <div class="top-recommends clearfix">
      <div class="newest-mobile">
          <!--[diy=diy_panels]--><div id="diy_panels" class="area"></div><!--[/diy]-->  
      </div>
      <div alog-alias="favsites" class="favsites-nav">
          <!--[diy=diy_gamenav]--><div id="diy_gamenav" class="area"></div><!--[/diy]--> 
      </div>    
    </div>
    <div class="focus-zone clearfix">
      <div class="rht">
        <div class="announcement"><i class="icon"></i>
          <div class="cnt">
            <!--[diy=gonggao]--><div id="gonggao" class="area"></div><!--[/diy]--> 
          </div>
        </div>
        <div class="billboard-top15 clearfix">
          <h4 class="title"><i></i><span>游戏风云榜TOP5</span></h4>
          <ul>
         <!--[diy=newtop]--><div id="newtop" class="area"></div><!--[/diy]--> 
          </ul>
        </div>
      </div>
      <div class="lft">
        <div class="recommend">
        <div class="r_con" id="r_con"> 
            <!--[diy=page_con]-->
            <div id="page_con" class="area"></div>
            <!--[/diy]--> 
        </div>
        <script type="text/javascript">jQuery("#r_con").slide({ titCell:".page ul",mainCell:"#page_con .list_con",effect:"leftLoop",vis:1,scroll:1,autoPlay:true,autoPage:true});</script> 
    </div>
        <div class="slide-txt-link">
        <!--[diy=page_link]-->
            <div id="page_link" class="area"></div>
            <!--[/diy]-->
        </div>
        <div class="new-game-neice clearfix " style="position:relative">
          <div class="tle"><span>新游内测</span></div>
            <!--[diy=page_duo]-->
            <div id="page_duo" class="area"></div>
            <!--[/diy]-->
            
         </div>
      </div>
    </div>
    <div class="jingpin-xiaoyouxi">
      <div class="top">
        <!--[diy=page_jingpin]-->
            <div id="page_jingpin" class="area"></div>
            <!--[/diy]-->
       
      </div>
      <div class="try">
      <!--[diy=page_try]-->
            <div id="page_try" class="area"></div>
       <!--[/diy]-->
      </div>
    </div>
    <div id="delay_load_0">
      
      <!--[diy=page_ad1]-->
            <div id="page_ad1" class="area"></div>
       <!--[/diy]-->
       
      <div id="mobile_game" class="mobile-game">
      <!--[diy=page_mobile1]-->
            <div id="page_mobile1" class="area"></div>
       <!--[/diy]-->
       
        <div class="wrp clearfix">
          <div class="lft">
            <div class="top">
            <!--[diy=page_mobile1_left]-->
                <div id="page_mobile1_left" class="area"></div>
            <!--[/diy]-->
            </div>
            
            <ul class="middle">
            <!--[diy=page_mobile1_middle]-->
                <div id="page_mobile1_middle" class="area"></div>
            <!--[/diy]-->
            </ul>
            <ul class="btm">
            <!--[diy=page_mobile1_btm]-->
                <div id="page_mobile1_btm" class="area"></div>
            <!--[/diy]-->
            </ul>
          </div>
          <div class="mdl">
          <!--[diy=page_zixun]-->
                <div id="page_zixun" class="area"></div>
            <!--[/diy]-->
          </div>
          <div class="rht">
            <!--[diy=page_rht]-->
                <div id="page_rht" class="area"></div>
            <!--[/diy]-->
           
          </div>
        </div>
      </div>
      <div id="online_game" class="online-game clearfix">
       <!--[diy=page_online]-->
                <div id="page_online" class="area"></div>
            <!--[/diy]-->
        <div class="cnt clearfix">
          <div class="lft">
            <ul class="top-pic-txt">
               <!--[diy=online_top]-->
                <div id="online_top" class="area"></div>
            <!--[/diy]-->
            </ul>
            <div class="btm-seg">
            <div class="open-service">
             <!--[diy=online_btm]-->
                <div id="online_btm" class="area"></div>
            <!--[/diy]-->
            </div>
              
              <div class="newest-zixun">
                <!--[diy=online_news]-->
                <div id="online_news" class="area"></div>
                <!--[/diy]-->
                
                <ul class="pic-txt-link">
                  <!--[diy=online_n_pic]-->
                <div id="online_n_pic" class="area"></div>
                <!--[/diy]-->
                </ul>
              </div>
            </div>
          </div>
          <div class="rht">
                <!--[diy=online_r_1]-->
                <div id="online_r_1" class="area"></div>
                <!--[/diy]-->
          </div>
        </div>
      </div>
      
      
      <!-- 图片部分 begin -->
      <div id="game_pics" class="game-pics clearfix">
      <div class="banner-head clearfix"><h1 class="tle"></h1><div class="top-recommend"></div></div>
      <div class="cl"></div>
<div class="contents">
    <div class="pub_column mb0">
        <dl class="pub_tits photo">
            <!--[diy=jeavi_10t]-->
            <div id="jeavi_10t" class="area"></div>
            <!--[/diy]-->

        </dl>
        <div class="pub_columnCon">
            <div class="jv_c5">
                <div class="jv_c5_left"> 
                    <!--[diy=jeavi_20]-->
                    <div id="jeavi_20" class="area"></div>
                    <!--[/diy]--> 
                </div>
                <div class="jv_c5_center"> 
                    <!--[diy=jeavi_21]-->
                    <div id="jeavi_21" class="area"></div>
                    <!--[/diy]--> 
                </div>
                <div class="jv_c5_right"> 
                    <!--[diy=jeavi_22]-->
                    <div id="jeavi_22" class="area"></div>
                    <!--[/diy]--> 
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- 图片部分 end --> 
    </div>
    <div id="delay_load_1"></div>
    <div id="delay_load_2"></div>
    <div id="delay_load_3"></div>
  </div>
</div>
<script src="misc.php?mod=diyhelp&action=get&type=index&diy=yes&r={echo random(4)}" type="text/javascript"></script> 

<div id="sidebar_nav">
            <i class="g-icon"></i>
            <ul>
                <li>
                    <a href="portal.php#bd">站点导航</a>
                </li>
                <li class="even">
                    <a href="portal.php#page_mobile1">手机游戏</a>
                </li>
                <li>
                    <a href="portal.php#online_game">网络游戏</a>
                </li>
                <li class="even">
                    <a href="portal.php#game_pics">游戏美图</a>
                </li>
                <li>
                    <a href="userapp.php">游戏中心</a>
                </li>
                <li class="even">
                    <a href="#">建议反馈</a>
                </li>
                <li>
                    <a href="#">联系我们</a>
                </li>
                <li class="even">
                    <a href="#">友情链接</a>
                </li>
            </ul>
            <div class="to-top" style="display: block;">
                <a class="icon" href="portal.php#toptb">回顶部</a>
            </div>
        </div>
<!--{template common/footer}--> 
